@include keyframes(animatedBackground) {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

@mixin animate-background-scroll-right {
	background-position: 0px 0px;
	background-repeat: repeat-x;
	@include animation(animatedBackground 60s linear infinite);
}
