<%= content_for :above_nav do %>
	<div class="hero-unit">
		<div class="constrained">
			<h1>The fastest way to get<br> your restaurant online</h1>
			<h3>Start taking bookings today</h3>
			<div>
				<%= link_to 'Try it now', new_restaurant_path, :class => "btn btn-large" %>
			</div>
			<%= image_tag 'product-shots.png' %>
		</div>
	</div>
<% end %>




