<div class="hero-unit">
	<div class="constrained">
		<h1>The fastest way to get<br> your restaurant online</h1>
		<h3>Start taking bookings today</h3>
		<div>
			<a href="#" class="btn">Try it now</a>
		</div>
		<%= image_tag 'product-shots.png' %>
	</div>
</div>

<div class="navbar">
	<div class="constrained">
		<a href="#" class="brand">Tablefillr</a>
		<div class="nav">
			<!-- <a href="#" class="btn">Try it now</a> -->
		</div>
	</div>
</div>
