.btn {
	color:white;
	padding:7px 20px;
	text-decoration: none;
	background-color: orange;
	@include background(linear-gradient(-180deg, #F9B542 0%, #F19A05 100%));
	@include border-radius(2px);
}

.btn-medium {
	padding:10px 20px;
}

.btn-large {
	padding:15px 35px;
}

.btn:hover {
	text-decoration: none;
}
