.navbar {
	@include group;
	background-color: $red;

	* {
		line-height: 60px;
	}

	a:hover {
		text-decoration: none;
	}

	.brand {
		color:white;
		font-weight: bold;
	}

	.nav {
		float:right;
	}
}
